@import url(https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.icon {
  font-size: 20px;
  color: black;
}