.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.children-container {
    background-color: rgb(10, 10, 10);
    color: white;
    flex: 1;
    padding: 20px;
}