.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    row-gap: 16px;
    column-gap: 16px;
    margin-bottom: 16px
}

.category h2 {
    font-size: 24px;
}

@media screen and (min-width: 790px) {
    .dashboard {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1090px) {
    .dashboard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}